swagger: '2.0'
info:
  title: Training Management System
  description: Training Management Systemが提供するAPI仕様書
  version: "1.0.0"
host: tms.segarden.work
schemes:
  - http
  - https
basePath: /api/v1
produces:
  - application/json
tags :
  - name : User
    description: ユーザー.
  - name : Report
    description: レポート.
paths:
  /users:
    post:
      operationId : post_users
      summary: ユーザー登録
      description: |
        ユーザーを登録します.
      tags:
        - User
      parameters:
      - in: body
        name: body
        description: ユーザー登録情報オブジェクト
        required: true
        schema:
          $ref: '#/definitions/UserRegist'
      responses:
        200:
          description: 正常に更新された場合に返却します.
  /users/{userId}:
    get:
      operationId : get_user
      summary: ユーザー取得
      description: |
        ユーザーを一意に特定することができるユーザーIDを元にユーザー情報を取得します.
      parameters:
        - name: userId
          in: path
          description: ユーザーID
          required: true
          type: string
      tags:
        - User
      responses:
        200:
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Result'
    put:
      operationId: put_user
      summary: ユーザー更新
      description:
        ユーザーを一意に特定することができるユーザーIDを元にユーザー情報を更新します.
      tags:
        - User
      parameters:
      - name: userId
        in: path
        type: string
        description: ユーザーID
        required: true
      - in: body
        name: body
        description: ユーザーオブジェクト
        required: true
        schema:
          $ref: '#/definitions/UserRegist'
      responses:
        200:
          description: 正常に更新された場合に返却します.
    delete:
      operationId : delete_user
      summary: ユーザー削除
      description: |
        ユーザーを一意に特定することができるユーザーIDを元にユーザー情報を削除します.
      parameters:
        - name: userId
          in: path
          description: ユーザーID
          required: true
          type: string
      tags:
        - User
      responses:
        200:
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Result'
  /reports:
    post:
      operationId : post_repotes
      summary: レポート新規作成
      description: |
        レポートを編集します.
      tags:
        - Report
      parameters:
      - in: body
        name: body
        description: レポート情報オブジェクト
        required: true
        schema:
          $ref: '#/definitions/Report'
      responses:
        200:
          description: 正常に編集された場合に返却します.
definitions:
  UserRegist:
    type: object
    description: ユーザー認証・登録
    properties:
      employeeId:
        type: string
        description: 社員番号
      password:
        type: string
        format: password
        description: ドメインパスワード
  User:
    type: object
    description: ユーザー
    properties:
      userId:
        type: string
        description: ユーザーを一意に特定するためのユーザーID.本システム用のIDとなる.社員IDとは異なる.
      employeeId:
        type: string
        description: 社員番号
      name:
        type: string
        description: 名前
      role:
        type: array
        description: 権限
        items:
          $ref: '#/definitions/Role'
    required:
      - userId
      - employeeId
      - name
  Role:
    type: object
    description: 権限
    properties:
      role:
        type: string
      name:
        type: string
    required:
      - role
      - name
  Report:
    type: object
    description: レポート
    properties:
      reportId:
        type: string
        description: レポートID
      userId:
        type: string
        description: ユーザーID
      trainer:
        type: array
        description: トレーナー
        items:
          $ref: '#/definitions/User'
      year:
        type: integer
        format: int32
        description: 年（西暦）
      month:
        type: integer
        format: int32
        description: 月
      plan:
        type: string
        description: 計画
      performance:
        type: string
        description: 実績
      selfAssessment:
        type: string
        description: 自己評価
      selfAssessElement:
        type: array
        description: 自己評価要素リスト
        items:
          $ref: '#/definitions/AssessElement'
      trainerAssessment:
        type: string
        description: トレーナー評価
      trainerAssessElement:
        type: array
        description: トレーナー評価要素リスト
        items:
          $ref: '#/definitions/AssessElement'
      bossAssessment:
        type: string
        description: 上司評価
      nextPlan:
        type: string
        description: 翌月計画
    required:
      - userId
      - year
      - month
  AssessElement:
    type: object
    description: 評価要素
    properties:
      assessElementId:
        type: string
        description: 評価要素ID
      name:
        type: string
        description: 名称
      value:
        type: integer
        description: 評価値
        default: 0
    required:
      - assessElementId
      - name
      - value
  Result:
    type: object
    properties:
      code:
        type: string
        description: メッセージコード
      message:
        type: string
        description: メッセージ
      details:
        type: array
        items:
          $ref: '#/definitions/ResultDetail'
  ResultDetail:
    type: object
    properties:
      code:
        type: string
        description: メッセージコード
      message:
        type: string
        description: メッセージ
      target:
        type: string
        description: 対象
          
