swagger: '2.0'
info:
  title: Training Management System
  description: Training Management Systemが提供するAPI仕様書
  version: "1.0.0"
host: segarden.work
schemes:
  - http
  - https
basePath: /api/v1
produces:
  - application/json
tags :
  - name : User
    description: ユーザーAPI.
paths:
  /users:
    post:
      operationId : post_users
      summary: ユーザー登録
      description: |
        ユーザーを登録します.
      tags:
        - User
      parameters:
      - in: body
        name: body
        description: ユーザー登録情報オブジェクト
        required: true
        schema:
          $ref: '#/definitions/UserRegist'
      responses:
        200:
          description: 正常に更新された場合に返却します.
  /users/{userId}:
    get:
      operationId : get_user
      summary: ユーザー取得
      description: |
        ユーザーを一意に特定することができるユーザーIDを元にユーザー情報を取得します.
      parameters:
        - name: userId
          in: path
          description: ユーザーID
          required: true
          type: string
      tags:
        - User
      responses:
        200:
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Result'
    put:
      operationId: put_user
      summary: ユーザー更新
      description:
        ユーザーを一意に特定することができるユーザーIDを元にユーザー情報を更新します.
      parameters:
      - name: userId
        in: path
        type: string
        description: ユーザーID
        required: true
      - in: body
        name: body
        description: ユーザーオブジェクト
        required: true
        schema:
          $ref: '#/definitions/UserRegist'
      responses:
        200:
          description: 正常に更新された場合に返却します.
    delete:
      operationId : delete_user
      summary: ユーザー削除
      description: |
        ユーザーを一意に特定することができるユーザーIDを元にユーザー情報を削除します.
      parameters:
        - name: userId
          in: path
          description: ユーザーID
          required: true
          type: string
      tags:
        - User
      responses:
        200:
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Result'
definitions:
  UserRegist:
    type: object
    properties:
      employeeId:
        type: string
        description: 社員番号.
      password:
        type: string
        format: password
        description: ドメインパスワード.
  User:
    type: object
    properties:
      userId:
        type: string
        description: ユーザーを一意に特定するためのユーザーID.本システム用のIDとなる.社員IDとは異なる.
      employeeId:
        type: string
        description: 社員番号.
      name:
        type: string
        description: 名前.
  Result:
    type: object
    properties:
      code:
        type: string
        description: メッセージコード.
      message:
        type: string
        description: メッセージ.
      details:
        type: array
        items:
          $ref: '#/definitions/ResultDetail'
  ResultDetail:
    type: object
    properties:
      code:
        type: string
        description: メッセージコード.
      message:
        type: string
        description: メッセージ.
      target:
        type: string
        description: 対象.
          
