swagger: '2.0'
info:
  title: Training Management System
  description: Training Management Systemが提供するAPI仕様書
  version: "1.0.0"
host: segarden.work
schemes:
  - http
  - https
basePath: /api/v1
produces:
  - application/json
paths:
  /users/{userId}:
    get:
      summary: ユーザー取得
      description: |
        ユーザーを一意に特定することができるユーザーIDを元にユーザー情報を取得します.
      parameters:
        - name: userId
          in: path
          description: ユーザーID
          required: true
          type: string
      tags:
        - Users
      responses:
        200:
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Result'
definitions:
  User:
    type: object
    properties:
      userId:
        type: string
        description: ユーザーを一意に特定するためのユーザーID.本システム用のIDとなる.社員IDとは異なる.
      employeeId:
        type: string
        description: 社員番号.
      name:
        type: string
        description: 名前.
  Result:
    type: object
    properties:
      code:
        type: string
        description: メッセージコード.
      message:
        type: string
        description: メッセージ.
      details:
        type: array
        items:
          $ref: '#/definitions/ResultDetail'
  ResultDetail:
    type: object
    properties:
      code:
        type: string
        description: メッセージコード.
      message:
        type: string
        description: メッセージ.
      target:
        type: string
        description: 対象.
          
